In [4]:
print ("Hello World!")
print ("My name is")

Hello World!
My name is

In [8]:
1 + 1

2

# Markdown Mode

A shortcut to enter markdown mode in Jupyter Notebook is `ESC` (to enter command mode) + `m`.

**This is markdown text.**

1 + 1

The above does not execute as it is in markdown, and not code mode.

In [9]:
print (1 + 1)

2

The above command executes the mathematical function in brackets and prints the output.

In [10]:
print ('1 + 1')

1 + 1

### Data types

Here, the quotes indicate that the data type in the brackets is a **string** type.
There are different types of data in python:
- `str` (string) - text type
- `int` (integer), `float` (floating point) - numeric types
and so on...

### Operators

There are also different kinds of **operators** to perform operations on variables and values:

- +, -, x, /
- % (modulus)
- ** (exponent)
- // (floor division)

### Functions

`print()`, as seen above, is an example of a function of the format *function_name (argument)*.

To learn more about a function (in this case `print()`):

In [11]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

### Variables

**Placeholders** in the computer memory for storing data values (so we can look at them/use them as many times as needed)

Declaring variables:

In [20]:
x = 1 + 1
name = "Malavika"

There is no output as the values are merely being stored away for later.

In [21]:
print ("My name is " + name)

My name is Malavika

*Note*: Variables (ordinarily) cannot be empty!!!

In [22]:
# multiple assignment of variables

firstName, lastName = name, "Krishna Kumar"
x = y = z = 10

In [23]:
# manipulating our newly declared variables

print (firstName)
print (x, y, z, x + y + z)

Malavika Krishna Kumar
10 10 10 30

If we try to operate on two variables of different types, what happens?

In [24]:
name + x

TypeError: can only concatenate str (not "int") to str

We get this **TypeError** as only variables of the same type can undergo the same operation.

Errors are important in python to help us figure out what went wrong in our code.

They give us information about the exact line number where the error happened, and the position and type of error.

In [26]:
name = firstName + " " + lastName
print (name)

Malavika Krishna Kumar

Here, we successfully add (concatenate) two strings together.

Here are some examples of errors, run them to find the type of error:

In [29]:
a = 1 + 1:

SyntaxError: invalid syntax (2708624408.py, line 1)

A colon at the end of a line is not part of correct Python syntax, hence throwing up a **SyntaxError**.

In [28]:
print(myVar)

NameError: name 'myVar' is not defined

The variable myVar has not been defined heretofore, hence throwing up a **NameError**.

Other ways in which data types differ:

In [32]:
myInt = 551 # declaring a variable containing a numeric value 551
len(myInt)

TypeError: object of type 'int' has no len()

In [36]:
myString = '551' # declaring a variable containing a string value containing the numbers 551
len(myString)

3

### String Indexing

In [34]:
newString = 'Hello Anu :)'
len(newString)

12

In [37]:
newString[0] # prints the very first character of string
newString[11] # prints the very last character of string

')'

You can index or select a specific element of that variable using the [] characters (*string slicing* for strings).

In order to do this for a *slice* of the string:

In [52]:
newString[6:9] # excluding last index in output!

'Anu'

We can also do this in steps:

In [42]:
newString[0::2]

'HloAu:'

## Exercise 1

In [46]:
myString = 'hello world'

In [48]:
myString[:5]

'hello'

In [50]:
myString[6:]

'world'

In [72]:
print(myString[-1:0:-1])
print(myString[-1:-12:-1])

dlrow olle
dlrow olleh

*Note*: Ranges are non-inclusive, which means that `[0:5:1]` would be read as... "take the first five elements", i.e., 0, 1, 2, 3, 4

So *0* is the first step, *5* is the number of steps to take, and *1* is how much distance between each step.

### Lists

A type of collection of same or different kinds of data, created using square brackets:

`drinks = ["whiskey", "vodka", "lager", "cider"]`

Lists are:
- **ordered**: a defined order that will not change, new items are always added to the end of the list
- **changeable**: can change and remove given that you select an index to modify

(Unlike **tuples** which are ordered and unchangeable, defined using round brackets `()`,

and **sets** which are unordered, unchangeable, and *unindexed*, defined using curly brackets `{}`)

In [101]:
drinks = ["whiskey", "vodka", "lager", "cider"]

## Exercise 2

In [94]:
# modifying the drinks list

drinks[3] = "tequila"
drinks

['whiskey', 'vodka', 'lager', 'tequila']

In [77]:
drinks[1] = 52
drinks

['whiskey', 52, 'lager', 'tequila']

In [79]:
type(drinks)

list

In [81]:
type(drinks[0])

str

In [87]:
drinks[2:4]

['lager', 'tequila']

In [103]:
# to modify the second entry in the list
drinks[1] = "vodka"

# to add a new entry to the list
drinks.append("wine")
drinks

['whiskey', 'vodka', 'lager', 'cider', 'wine']

In [104]:
# to add multiple entries at the end of the list
drinks.extend(["cider", "water", "beer"])
drinks

['whiskey', 'vodka', 'lager', 'cider', 'wine', 'cider', 'water', 'beer']

In [105]:
drinks.append(["apple juice", "orange juice", "lemonade"])
drinks
# append treats the argument as a single item!!!

['whiskey',
 'vodka',
 'lager',
 'cider',
 'wine',
 'cider',
 'water',
 'beer',
 ['apple juice', 'orange juice', 'lemonade']]

### List Methods

Lists can be empty, with the syntax `list = []`

### Dictionaries

A **dictionary** stores data values in key:value pairs

### Conditional Statements

*If-statements*: evaluate statements called **booleans** which yield either a **true** or **false** output

In [107]:
# assigning values to variables x and y
x, y = 1, 2

In [108]:
# evaluating whether x equals y
x == y

False

In [109]:
# evaluating whether x is NOT equal to y
x != y

True

In [110]:
y = 'a'
x == y

False

Thus, we can even compare variables of different data types.

In [111]:
y = 2
x != y and x > y

False

Here, x is NOT equal to y but x is not greater than y

Since BOTH are not true, AND is false

In [112]:
x != y or x > y

True

In [113]:
x != y and not x > y

True

In [115]:
x != y and bool(0)
# bool (0) is always FALSE
# bool of anything else is TRUE

False

#### Syntax

`if *conditional, evaluated as either True or False*:`

    do this
    
`elif *conditional, evaluated as either True or False*:`   # repeat as many times as necessary

    do this instead
    
`else:`

    do Something Else

In [116]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
elif b == a:
    print("b is equal to a")
else:
    print("b is lesser than a, i guess")

b is lesser than a, i guess

In [117]:
# separate if statements
if a > b:
    print("b is greater than a")
if b < a:
    print("b is greater than a")

b is greater than a
b is greater than a

In [118]:
# nested if statements
if b <= a:
    print("b is lesser than a")
    if b == a:
        print("b is equal to a")

b is lesser than a

*Match Case*: similar to if-statements

In [123]:
day = 7
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case _:
        print ("Holiday")

# doesn't go by sequential order, instead by case

Holiday

## In-Lab Final Exercise

In [134]:
names = ("Malavika", "Hannah", "Makenna", "Erin", "Mimi")

name = input("Enter student name: ")
nameLen = len(name)

match name:
    case "Malavika":
        area = "BCN"
    case "Hannah":
        area = "BCN"
    case "Makenna":
        area = "SP"
    case "Erin":
        area = "BCN"
    case "Mimi":
        area = "BCN"
    case _:
        if nameLen <= 5:
            area = "BCN"
        elif nameLen >= 8:
            area = "LD"
        else:
            area = "SP"

print("Your area is " + area)

Enter student name:  Bori

Your area is BCN